<!DOCTYPE html>
<html>
  <body>
    <h2>Hi,</h2>
    <p>Your OTP code is:</p>
    <h1>{{ otp }}</h1>
    <p>This code is used to verify your email: <b>{{ email }}</b></p>
    <p>Do not share this code with anyone.</p>
    <br />
    <p>Regards,<br>Abby n Bev Team</p>
  </body>
</html>
